
h1{ /*selector etiqueta*/
    color:black;
    font-size: 50px;/*cambia tamaño de texto */
    font-style: italic;/*estilo de la letra*/
    text-align: center;/*damos posicion al texto en la web */
    text-decoration: underline;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
}

.color{ /*selector clase*/
    color:rgb(2, 0, 1);
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}


#titulo_2{ /*selector id*/
    color:rgb(2, 12, 12);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*..............psudoclase...........*/



.logo{
    position: absolute;
    top: 10px;
    left: 10px;

}
 
  

nav ul{
    list-style: none;
}

nav li{
    display: inline;
}

section{
    margin-top: 25px;
}

nav a{
  text-decoration: none;
}

 /*contenedor límite*/ 

.contenedor_límite{
    background-color: rgb(0, 174, 255);
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    padding: 25px;
    border: 1px solid;
    border-radius: 25px;
}

.contenedor_limite_2{
    background-color: red;
    margin: 0 auto;
    max-width: 1200px;
    border:1px solid;
    max-width: 1200px;
}
.padre{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px; 
}
    
/*estilos de card*/

.card{ /*card*/
    max-width: 400px;
    height: 300px;
    background-color: rgb(105, 116, 179);
    border: 2px solid;
    padding: 5px 20px 15px 10px;
    text-align: center;
    border-radius: 40px;
    margin: 0 auto
}


.card h2{ 
    font-size: 35px;

}



.card img{ 
    width: 100%;

}

.card p{ 
    font-size: 20px;
}

.footer{
    background-color: blue;
    margin-top: 200px;
}

@media screen and (max-width:600px) {
    header{
        flex-direction: column;
        align-items: start;
    }

}


/*grilla */

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }

.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: rgb(20, 168, 173);
}


.div1 img {
    width: 300px;
}


.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: rgb(0, 225, 255);
}

.div2 img {
    width: 300px;
}



.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: rgb(20, 168, 173);
}

.div3 img {
    width: 300px;
}



.div4 { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: rgb(0, 225, 255)
}

.div4 img {
    width: 300px;
}


.div5 { 
    grid-area: 2 / 2 / 3 / 3; 
    background-color: rgb(20, 168, 173);
}

.div5 img {
    width: 300px;
}


.div6 { 
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(0, 225, 255) 
}

.div6 img{
    width: 300px;
}
